<mat-card-content>
  <mat-list>
    <mat-list-item *ngFor="let todo of todos">
        <mat-card class="todo_card">
          <h1 mat-line>
            <a class="todo_name" mat-button [routerLink]="['/todo-edit', todo.id]">{{"Title: "}}{{todo.name}}</a>
          </h1>
          <h1 mat-line>
            <a class="todo_desc">{{"Desc: "}}{{todo.description}}</a>
          </h1>
          <h1 mat-line>
            <a class="todo_fold">{{"Cat: "}}{{todo.folder}}</a>
          </h1>
        </mat-card>
    </mat-list-item>
  </mat-list> 
</mat-card-content>
<button class="button_add" mat-raised-button color="primary" [routerLink]="['/todo-add']">Add new</button>
